<section id="skills">
  <h3>Compétences</h3>
  <article class="flex-row">
    <h4>Compétences Informatiques</h4>
    <div class="flex-row">
      <div>
        <p class="underline"><strong>FRONTEND</strong></p>
        <ul>
          <li><strong><i class="fab fa-angular"></i> Angular 9</strong></li>
          <li><i class="fab fa-html5"></i> HTML 5</li>
          <li><i class="fab fa-css3-alt"></i> CSS 3</li>
          <li><i class="fab fa-js"></i> JS ES6</li>
          <li><i class="fab fa-wordpress"></i> Wordpress</li>
          <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
        </ul>
      </div>
      <div>
        <p class="underline"><strong>BACKEND</strong></p>
        <ul>
          <li><strong><i class="fab fa-symfony"></i> Symfony 5</strong></li>
          <li><i class="fab fa-php"></i> PHP 7</li>
          <li><i class="fab fa-node"></i> Node.js</li>
          <li><i class="fas fa-database"></i> MongoDB</li>
          <li><i class="fas fa-database"></i> MySQL</li>
        </ul>
      </div>
    </div>
  </article>
  <article class="flex-row">
    <h4>Compétences Linguistiques</h4>
    <ul class="center">
      <li><strong>Anglais</strong> - niveau courant</li>
      <li><strong>Japonais</strong> - niveau intermédiaire</li>
      <li><strong>Espagnol</strong> - niveau scolaire</li>
    </ul>
  </article>
  <article class="flex-row">
    <h4>Compétences Sociales</h4>
    <div class="personnality flex-row center">
      <p><i class="fas fa-bolt"></i>Dynamique</p>
      <p><i class="fas fa-grin-alt"></i>Enjouée</p>
      <p><i class="fas fa-fist-raised"></i>Volontaire</p>
    </div>
  </article>
</section>
