article > div > p,
article > div > p + div {
  display: inline-block;
}
article > div > p:first-child {
  width: 30%;
  border-right: 1px solid var(--purpleColor);
}
article > div > p + div,
article > div > p + p {
  width: 65%;
}
ul {
  display: inline-block;
  margin-top: 0;
}
li {
  list-style-type: circle;
  font-size: 1.8rem;
  color: var(--brownColor);
}


@media only screen and (max-width: 1020px) {
  li {
    list-style-type: none;
  }
}

@media only screen and (max-width: 720px) {
  article > div > p:first-child {
    width: 18%;
    font-size: 1.7rem;
  }
  article > div > p + div, article > div > p + p {
    width: 77%;
    font-size: 1.7rem;
  }
  li {
    font-size: 1.6rem;
  }
  .fas {
    font-size: 2rem;
    padding: 0 5px;
  }
}
