<header (window:resize)="onResize($event)">
  <i class="fas fa-bars" *ngIf="buttonMobileNav" (click)="changeNavbar()"></i>
  <nav class="nav-site" [ngClass]="navbar ? 'visible' : 'invisible'">
    <a routerLink="" *ngIf="!buttonMobileNav"><img src="../assets/lotus.png" alt="Arbre de vie" /></a>
    <a routerLink="" *ngIf="buttonMobileNav" (click)="changeNavbar()">Accueil</a>
    <a routerLink="course" (click)="changeNavbar()">Mon parcours</a>
    <a routerLink="skills" (click)="changeNavbar()">Mes compétences</a>
    <a routerLink="projects" (click)="changeNavbar()">Mes projets</a>
    <a routerLink="contact" (click)="changeNavbar()">Contact</a>
  </nav>
</header>
