section {
  background: url("assets/background.jpg") left no-repeat;
  background-size: cover;
}
img {
  width: 16vw;
  border: 10px solid white;
  border-radius: 50%;
  margin-top: 10vh;
}
article {
  padding: 0 0 0 50vw;
  text-align: center;
}
