:root {
  --purpleColor: #443742;
  --darkBlueColor: #132226;
  --brownColor: #846c5b;
  --orangeColor: #cea07e;
  --beigeColor: #e2e8c0;
}
:root {
  --generalWriting: "Lato", sans-serif;
  --bigTitleWriting: "Courgette", cursive;
  --titleWriting: "Playball", cursive;
}

/*----------------------------------------------------------
------------------------------------------------------------
--------------------- GENERAL ------------------------------
------------------------------------------------------------
----------------------------------------------------------*/

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body,
a {
  margin: 0 auto;
  font-size: 2rem;
  font-family: var(--generalWriting);
  line-height: 1;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--purpleColor);
}
li {
  line-height: 1.5;
}
button {
  padding: 1%;
  border: 1px solid var(--purpleColor);
  border-radius: 20px;
  cursor: pointer;
}
.fas,
.fab,
.far {
  padding: 0 10px;
  font-size: 2.8rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
h1,
h2 {
  font-family: var(--bigTitleWriting);
  color: white;
  text-shadow: 4px 3px 3px var(--brownColor);
}
h1 {
  font-size: 8rem;
  margin: 0;
  padding: 10vh;
}
h2 {
  font-size: 6rem;
  margin: 0;
}
h3,
h4 {
  font-family: var(--titleWriting);
}
h3 {
  font-size: 5rem;
}
section h3 {
  text-shadow: 4px 3px 3px var(--orangeColor);
}
h4 {
  font-size: 3.5rem;
}
section {
  color: var(--purpleColor);
  text-align: center;
  height: 91vh;
}
article {
  margin: 0 auto;
}
strong {
  font-weight: bold;
}
ul {
  padding: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*--------------------------------------------------------------------------------
----------------------------------------------------------------------------------
-------------------------------- SCREEN SIZES ------------------------------------
----------------------------------------------------------------------------------
---------------------------------------------------------------------------------*/

/*----------------------------------------------------------
------------------------------------------------------------
-------- HOME PAGE / COURSE PAGE / CONTACT PAGE ------------
------------------------------------------------------------
----------------------------------------------------------*/

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1120px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  #intro article {
    padding: 0 0 0 30vw;
  }
  #intro img {
    width: 25vw;
    border: 5px solid white;
    margin-top: 6vh;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  #intro {
    article {
      padding: 0 0 0 0;
    }
    img {
      width: 35vw;
    }
  }

  #course {
    article > div > p:first-child {
      width: 18%;
      font-size: 1.7rem;
    }
    article > div > p + div, article > div > p + p {
      width: 77%;
      font-size: 1.7rem;
    }
    li {
      font-size: 1.6rem;
    }
    .fas {
      font-size: 2rem;
      padding: 0 5px;
    }
  }

  #contact {
    .flex-row {
      flex-direction: column;
      align-items: center;
    }
    button {
      width: 50%;
    }
    button:not(:last-child) {
      margin-top: 20px;
      margin-right: 0;
    }
    .fas, .fab,.far {
      font-size: 2.5rem;
    }
  }
}

/*----------------------------------------------------------
------------------------------------------------------------
---------------------- SKILLS PAGE -------------------------
------------------------------------------------------------
----------------------------------------------------------*/
@media only screen and (max-width: 900px) {
  #skills {
    article {
      margin-bottom: 20px;
      flex-direction: column;
    }
    article:first-of-type > div {
      width: 100%;
    }
    .center {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 400px) {
  #skills {
    article:first-of-type > div {
      display: flex;
      flex-direction: column;
    }
    li {
      list-style-type: none;
    }
  }

  .personnality {
    flex-direction: column;

    p {
      margin-bottom: 30px;
    }
  }
}

/*----------------------------------------------------------
------------------------------------------------------------
-------------------- PROJECTS PAGE -------------------------
------------------------------------------------------------
----------------------------------------------------------*/

@media only screen and (max-width: 1020px) {
  .flex-row {
    flex-direction: column;
    margin: 0 10px;
  }
  article:not(.perproject) h4,
  ul {
    width: 100%;
  }
  h4 {
    margin: 30px 0 20px;
  }

  .persoproject {
    margin-bottom: 40px;
    flex-direction: column-reverse;

    img {
      margin-top: 25px;
    }
    div:not(.twolinks) {
      width: 100%;
    }

  }

  li {
    text-align: center;
    list-style-type: none;
  }
  #course li {
    list-style-type: none;
  }
  .connexionLogs a:not(:first-of-type) {
    text-align: left;
    margin: 0 0 20px 10px;
  }
}
