:root {
  --purpleColor: #443742;
  --darkBlueColor: #132226;
  --brownColor: #846c5b;
  --orangeColor: #cea07e;
  --beigeColor: #e2e8c0;
}
:root {
  --generalWriting: "Lato", sans-serif;
  --bigTitleWriting: "Courgette", cursive;
  --titleWriting: "Playball", cursive;
}

/*----------------------------------------------------------
------------------------------------------------------------
--------------------- GENERAL ------------------------------
------------------------------------------------------------
----------------------------------------------------------*/

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body,
a {
  margin: 0 auto;
  font-size: 2rem;
  font-family: var(--generalWriting);
  line-height: 1;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--purpleColor);
}
li {
  line-height: 1.5;
}
button {
  padding: 1%;
  border: 1px solid var(--purpleColor);
  border-radius: 20px;
  cursor: pointer;
}
.fas,
.fab,
.far {
  padding: 0 10px;
  font-size: 2.8rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
h1,
h2 {
  font-family: var(--bigTitleWriting);
  color: white;
  text-shadow: 4px 3px 3px var(--brownColor);
}
h1 {
  font-size: 8rem;
  margin: 0;
  padding: 10vh;
}
h2 {
  font-size: 6rem;
  margin: 0;
}
h3,
h4 {
  font-family: var(--titleWriting);
}
h3 {
  font-size: 5rem;
}
section h3 {
  text-shadow: 4px 3px 3px var(--orangeColor);
}
h4 {
  font-size: 3.5rem;
}
section {
  color: var(--purpleColor);
  text-align: center;
  height: 91vh;
}
article {
  margin: 0 auto;
}
strong {
  font-weight: bold;
}
ul {
  padding: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*----------------------------------------------------------
------------------------------------------------------------
---------------------- HEADER ------------------------------
------------------------------------------------------------
----------------------------------------------------------*/

header {
  background-color: var(--purpleColor);
}
nav {
  padding: 2vh 2vw;
}
nav img {
  color: white;
  height: 5vh;
}
nav a {
  color: white;
  margin-right: 2%;
  line-height: 1.5;
}
nav a:hover {
  text-decoration: underline;
}

/*----------------------------------------------------------
------------------------------------------------------------
----------------------- INTRO ------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
#intro {
  background: url("assets/background.jpg") left no-repeat;
  background-size: cover;
}
#intro img {
  width: 16vw;
  border: 10px solid white;
  border-radius: 50%;
  margin-top: 10vh;
}
#intro article {
  padding: 0 0 0 50vw;
  text-align: center;
}

/*----------------------------------------------------------
------------------------------------------------------------
----------------------- COURSE -----------------------------
------------------------------------------------------------
----------------------------------------------------------*/
#course article > div > p,
#course article > div > p + div {
  display: inline-block;
}
#course article > div > p:first-child {
  width: 30%;
  border-right: 1px solid var(--purpleColor);
}
#course article > div > p + div,
#course article > div > p + p {
  width: 65%;
}
#course ul {
  display: inline-block;
  margin-top: 0;
}
#course li {
  list-style-type: circle;
  font-size: 1.8rem;
  color: var(--brownColor);
}

/*----------------------------------------------------------
------------------------------------------------------------
----------------------- SKILLS ----------------------------
------------------------------------------------------------
----------------------------------------------------------*/

#skills article {
  margin-bottom: 20px;
}
#skills article:first-of-type > div,
#skills article h4 + ul,
.personnality {
  list-style-type: none;
  width: 50%;
}
.personnality {
  align-items: center;
}
.personnality p {
  margin: 0 20px;
}

/*----------------------------------------------------------
------------------------------------------------------------
----------------------- PROJECT ----------------------------
------------------------------------------------------------
----------------------------------------------------------*/

#project article:not(:first-child) h4,
#project ul {
  width: 30%;
}
#project li {
  text-align: left;
}
.github {
  font-size: 2.7rem;
  border: 1px solid var(--darkBlueColor);
  border-radius: 20px;
  box-shadow: 3px 3px 5px var(--darkBlueColor);
  padding: 10px;
}
.underline {
  text-decoration: underline;
}
.persoproject {
  margin: 10px 0;
  align-items: center;
}
.persoproject a,
.persoproject p {
  margin: 0 0 2% 0;
  line-height: 1.2;
}
.persoproject div:not(.twolinks) {
  width: 60%;
}
.persoproject h4 {
  margin: 30px 30px 0;
}

.persoproject img {
  height: 175px;
  border: 2px solid var(--orangeColor);
  border-radius: 20px;
}

.persoproject .underline {
  margin-bottom: 30px;
}

/*----------------------------------------------------------
------------------------------------------------------------
---------------------- CONTACT -----------------------------
------------------------------------------------------------
----------------------------------------------------------*/

#contact article {
  justify-content: center;
}
#contact p:not(:last-child),
#contact button:not(:last-child) {
  margin-right: 3%;
}

#contact button {
  border: 2px solid var(--orangeColor);
  background-color: var(--orangeColor);
  margin-top: 2%;
  box-shadow: 5px 4px 3px var(--brownColor);
  display: inline-block;
}
#contact button a {
  color: white;
}

/*--------------------------------------------------------------------------------
----------------------------------------------------------------------------------
-------------------------------- SCREEN SIZES ------------------------------------
----------------------------------------------------------------------------------
---------------------------------------------------------------------------------*/

/*----------------------------------------------------------
------------------------------------------------------------
-------------------- BURGER MENU ---------------------------
------------------------------------------------------------
----------------------------------------------------------*/

@media only screen and (max-width: 720px) {
  header {
    .fas {
      padding: 15px 10px;
      color: white;
    }
  }
  nav {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 4vw);
  }
  nav a {
    margin: 0;
  }

  .nav-site {
    position: absolute;
    background-color: var(--purpleColor);

    &.visible {
      transition: ease-in-out 1s;
      top: 57px;
      z-index: 10;
    }
    &.invisible {
      top: -139px;
      z-index: -1;
    }
  }
}

/*----------------------------------------------------------
------------------------------------------------------------
-------- HOME PAGE / COURSE PAGE / CONTACT PAGE ------------
------------------------------------------------------------
----------------------------------------------------------*/

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1120px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  #intro article {
    padding: 0 0 0 30vw;
  }
  #intro img {
    width: 25vw;
    border: 5px solid white;
    margin-top: 6vh;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  #intro article {
    padding: 0 0 0 0;
  }
  #intro img {
    width: 35vw;
  }

  #course article > div > p:first-child {
    width: 18%;
    font-size: 1.7rem;
  }
  #course article > div > p + div,
  #course article > div > p + p {
    width: 77%;
    font-size: 1.7rem;
  }
  #course li {
    font-size: 1.6rem;
  }
  #course .fas {
    font-size: 2rem;
    padding: 0 5px;
  }

  #contact .flex-row {
    flex-direction: column;
    align-items: center;
  }
  #contact button {
    width: 50%;
  }
  #contact button:not(:last-child) {
    margin-top: 20px;
    margin-right: 0;
  }
  #contact .fas,
  #contact .fab,
  #contact .far {
    font-size: 2.5rem;
  }
}

/*----------------------------------------------------------
------------------------------------------------------------
---------------------- SKILLS PAGE -------------------------
------------------------------------------------------------
----------------------------------------------------------*/
@media only screen and (max-width: 900px) {
  #skills article {
    margin-bottom: 20px;
    flex-direction: column;
  }
  #skills article:first-of-type > div {
    width: 100%;
  }
  .center {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 400px) {
  #skills article:first-of-type > div {
    display: flex;
    flex-direction: column;
  }
  #skills li {
    list-style-type: none;
  }
  .personnality {
    flex-direction: column;
  }
  .personnality p {
    margin-bottom: 30px;
  }
}

/*----------------------------------------------------------
------------------------------------------------------------
-------------------- PROJECTS PAGE -------------------------
------------------------------------------------------------
----------------------------------------------------------*/

@media only screen and (max-width: 1020px) {
  #project .flex-row {
    flex-direction: column;
    margin: 0 10px;
  }
  #project article:not(.perproject) h4,
  #project ul {
    width: 100%;
  }
  #project h4 {
    margin: 30px 0 20px;
  }
  #project .persoproject {
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }
  .persoproject img {
    margin-top: 25px;
  }
  .persoproject div:not(.twolinks) {
    width: 100%;
  }
  #project li {
    text-align: center;
    list-style-type: none;
  }
  #course li {
    list-style-type: none;
  }
  .connexionLogs a:not(:first-of-type) {
    text-align: left;
    margin: 0 0 20px 10px;
  }
}
